/target/
/mvc-hibernate-aop/target/
/spring-mvc/target/
/.idea/
/spring-rest/target/
/rest_client/target/
/spring_security/target/
/spring_boot/.mvn/
/spring_boot/target/
/spring_data_jpa/target/
/spring_data_jpa/.mvn/
/spring_data_rest/target/
/.idea/
